html, body {
	height: 100%;
	font-family: "Arial";
	background-color:gray;

}

.fill-height {
    min-height: 100%;
    height: 100%; /* cross-browser */
}
 
.jumbotron {
    margin-bottom: 0px;
	height: 100%; /* cross-browser */
    background-image: url("pat.png"); reapet;
	-moz-box-shadow: 0px 10px 5px #484445;
	-webkit-box-shadow: 0px 10px 5px #484445;
	box-shadow: 0px 10px 4px #484445;
}


.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
  opacity:0.9;

}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
 

.centering {
  float:none;
  margin:0 auto;
}


.fc-agenda-slots td div {
  height: 60px !important;
}

/* Remove that awful yellow color and border from today in Schedule */
.fc-today {
  opacity: 0;
  border: 1px;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
  border-radius: 4px;
  border: none;
  padding: 5px;
  opacity: .65;
  left: 5% !important;
  right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
  border-style: 1px  gray  !important;
  border-width: 1px !important;
  padding: 0 !important;
  vertical-align: top !important;
      font-size: 19pt;

}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
  font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px! important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px! important;
}

#popup_choose {
  direction: ltr;
}

.fc-widget-header{
    background-color: #ef414c;
	color: #a7cc76;
}

.fc-header-title {
    background-color:#a7cc76;
}

.fc-header-title h2 {
    color:#ef414c;
}


